# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_File
.icloud

# dependencies
node_modules
client/node_modules

# production
build

# misc
.env

# IDE
.idea



AGENTS.md
CLAUDE.md
GEMINI.md
GROK.md
QWEN.md
